{% extends 'main/base.html' %}

{% block content %}
    <div class="row">
        {% for object in object_list %}
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <div class="card-body">
                        <p class="card-text">{{ object.name|title }}</p>
                            <a href="{% url 'main:product_list' %}" type="button" class="btn btn-sm btn-outline-secondary">Подробнее</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}